@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html, body{
    width: 100%;
    margin: 0 auto;
    background-color: #219ebc;
    font-family: Oswald;
    letter-spacing: 0px;
}
h1{
    color: white;
    margin: 0px;
    text-align: center;
    font-size: 65px;
    text-decoration: underline;
}
.Container{
    margin: 0 auto;
    width: 30%;
    background-color: #97c7ca; /*just to see where body is*/
    border: 5px solid beige;
}
#inputField {
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}
#addToDo{
    height: 50px;
    width: 75px;
    vertical-align: middle;
    font-size: 20px;
}
#sortToDo{

    vertical-align: middle;
    font-size: 20px;
}
#filterToDo{

    vertical-align: middle;
    font-size: 20px;
}
.to-dos {
    margin-top: 10px; /*distance at the top from the inputline and buttons*/
    display: flex;
    flex-direction: column;
}
.paragraph-styling{ /*a class we will add via js* (tasks)*/
    margin: 0;
    font-size: 20px;
    flex-grow: 1;
}
.removeItemButton-styling{
    background-color: rgb(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
.row-style {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}
.checkBox-style{
    cursor: pointer;
}
.Controls{
    display: flex;
    flex-direction: column;
}
.ControlRow{
    justify-content: center;
    display: flex;
}
.blue{
    width: 100%;
    background-color: #023047;
}