@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html, body{
    width: 50%;
    margin: 0 auto;
    border: 1px solid red; /*just to see where body is*/
    font-family: Oswald;
    letter-spacing: 0px;
}
h1{
    text-align: center;
    font-size: 50px;
}
.Container{
    width: 100%;
    border: 1px solid red; /*just to see where body is*/
}
#inputField {
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}
#addToDo{
    height: 50px;
    width: 75px;
    vertical-align: middle;
    font-size: 20px;
}
#sortToDo{
    height: 50px;
    width: 75px;
    vertical-align: middle;
    font-size: 20px;
}
#filterToDo{
    height: 50px;
    width: 77px;
    vertical-align: middle;
    font-size: 20px;
}
.to-dos {
    margin-top: 25px; /*distance at the top from the inputline and buttons*/
    border: 1px solid red;
}
.paragraph-styling{ /*a class we will add via js* (tasks)*/
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}